# Ignore Everything
*
# Except .gitignore
!.gitignore

# add folder to whitelist
!cache/
# then everything in subfolder
!cache/*

# add folder to whitelist
!config/
# then everything in subfolder
!config/*

# add folder to whitelist
!core/
# then everything in subfolder
!core/*

# add folder to whitelist
!patchers/
# then everything in subfolder
!patchers/*

# add folder to whitelist
!plugins/
# then everything in subfolder
!plugins/*

# then subfolder after // aparently not needed ?
#!plugins/*/

#then everything in subfolder after
!plugins/*/*