# Ignore All files inside root folder
/*
# Ignore All folders inside root folder
/*/
# Do not ignore the following files
!/README.md
!/.gitignore
# Do not ignore the following folders and all thier contents
!/cache/**
!/config/**
!/core/**
!/patchers/**
!/plugins/**
